<div class="container">
  <div *ngFor="let currentKeg of kegs | async" class="item">
    <h1>{{currentKeg.name}}</h1>
    <h3>{{currentKeg.brand}}</h3>
    <p>{{currentKeg.sugar}}<span>g of sugar</span></p>
    <h4><span>$</span>{{currentKeg.price}}</h4>
    <p>{{currentKeg.amountLeft}} Pints Left</p>
    <button (click)="editKeg(currentKeg)">Edit!</button>
    <button (click)="minusOne(currentKeg)">Serve a Pint</button>
  </div>
  <hr>
  <!-- <div>
    <h3>Edit Keg</h3>
    <label>Enter Keg Name:</label>
      <input [(ngModel)]="selectedKeg.name">
    <label>Enter Keg Brand:</label>
      <input [(ngModel)]="selectedKeg.brand">
    <label>Enter Keg Sugar Content:</label>
      <input [(ngModel)]="selectedKeg.sugar">
    <label>Enter Keg Price:</label>
      <input [(ngModel)]="selectedKeg.price">
  </div> -->
  <div>
    <form>
      <label>Drink Name:</label>
      <input #name placeholder="name">
      <label>Brand Name:</label>
      <input #brand placeholder="brand">
      <label>Sugar Amount:</label>
      <input #sugar placeholder="sugar" type="number">
      <label>Price per Pint:</label>
      <input #price placeholder="price" type="number">
      <button (click)="newKeg(name.value, brand.value, sugar.value, price.value)">Add New Drink!</button>
    </form>
  </div>
</div>
